@model IEnumerable<TradesCompany.Application.DTOs.BookingByServiceType>
@{
    Layout = "~/Views/Shared/Layouts/_ELayout.cshtml";
    ViewData["Title"] = "Employee Dashboard";
}

<div>
    <p>Total Booking :@Model.Count()</p>
</div>
@Html.Partial("~/Views/PartialView/_BookingListing.cshtml",Model)
