@model TradesCompany.Web.ViewModel.ExternalRegisterWorkerViewModel

@{
    ViewData["Title"] = "Complete Worker Registration";
}
<link rel="stylesheet" href="~/css/registerpage.css" />

<div class="register-container">
    <div class="form-section">
        <div class="form-wrapper">
            <h2>Complete Worker Registration</h2>

            <form asp-action="ExternalRegisterWorker" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="UserName" />
                <input type="hidden" asp-for="Role" />

                <div class="form-group">
                    <label asp-for="ServiceTypeId">Serivce Type</label>
                    <select asp-for="ServiceTypeId" class="form-select-lg form-control">
                        @foreach (var servicetype in Model.ServiceType)
                        {
                            <option value="@servicetype.Id" class="form-control">@servicetype.ServiceName</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn-submit">Complete Registration</button>
            </form>

            <div class="signin-link">
                Already completed registration? <a href="/Account/Login">Sign In</a>
            </div>
        </div>
    </div>

    <div class="image-section"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
