@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
    <br />
    <a asp-action="Login" asp-controller="Account">Login</a>
    <br />
    <a asp-action="CustomerRegister" asp-controller="Account">singUp as a Customer</a>
    <br />
    <a asp-action="EmployeeRegister" asp-controller="Account">singUp as a Employee</a>
</div>