@model TradesCompany.Web.ViewModel.BookingViewModel;
<h1>Book Service</h1>

<form method="post" asp-action="BookService" asp-controller="User">

    <span asp-validation-summary="RegistrationError" class="text-danger mb-3"></span>

    <div class="form-group">
        <label asp-for="ServiceTypeId">Serivce Type</label>
        <select asp-for="ServiceTypeId">
            @foreach(var service in Model.ServiceTypes)
            {
                <option value="@service.Id">@service.ServiceName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="WorkDetails">WorkDetails</label>
        <input asp-for="WorkDetails" class="form-control" placeholder="Enter your WorkDetails" />
        <span asp-validation-for="WorkDetails" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="price">price</label>
        <input asp-for="price" class="form-control" placeholder="Enter your price" />
        <span asp-validation-for="price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn-submit">Signup</button>
</form>